<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property resource="application.yml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%thread] %green(%logger{35}):%line - %magenta(%msg) %n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./persistence-jpa/log/persistence-jpa_%d{yyyyMMdd}.log
            </fileNamePattern>
            <maxHistory>1</maxHistory>
            <totalSizeCap>1MB</totalSizeCap>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%date %level [%thread] [%mdc{__context_info__}] %logger{35}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>

    <logger name="com.oh29oh29.devbox" level="DEBUG"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool"/>

    <root level="${logback.level.root}">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>